li.active {
    background-color: #428BCA;
}

li.active a {
    color: white;
}

.list-group {
    max-height: 20em;
    overflow: auto;
}

.panel-title a.glyphicon {
    text-decoration: none;
    color: lightgrey;
}

.panel-title a.glyphicon:hover {
    color: #428BCA;
    cursor: pointer;
}


td.measure {
    text-align: right;
}

.left-menu {
    padding-bottom: 1em;
}