{% extends "layout.html" %}

{% block title %}
<title>{{config.APP_NAME|capitalize}}</title>
{% endblock %}

{% block head %}
<link href="{{url_for('menger.static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('menger.static', filename='css/nv.d3.min.css')}}" rel="stylesheet">
<link href="{{url_for('menger.static', filename='css/menger.css')}}" rel="stylesheet">
<script src="{{url_for('menger.static', filename='js/jquery-1.11.1.min.js')}}"></script>
<script src="{{url_for('menger.static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('menger.static', filename='js/knockout-3.1.0.js')}}"></script>
<script src="{{url_for('menger.static', filename='js/knockout-3.1.0.js')}}"></script>
<script src="{{url_for('menger.static', filename='js/d3.v3.min.js')}}"></script>
<script src="{{url_for('menger.static', filename='js/nv.d3.min.js')}}"></script>
<script src="{{url_for('menger.static', filename='js/menger.js')}}"></script>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-sm-3 left-menu" data-bind="visible: show_menu">
    <h4>Measures</h4>
    <div class="panel-group" id="measures"
         data-bind="template: {name: 'measure_tpl', foreach: msr_selects}">
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default"
              title="Remove measure"
              data-bind="click: pop_measure,
                         attr:{disabled: msr_selects().length <= 1}">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <button type="button" class="btn btn-default"
              title="Add measure"
              data-bind="click: push_msr_select">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <h4>Dimensions</h4>

    <div class="panel-group" id="dimensions"
         data-bind="template: {name: 'dimension_tpl', foreach: dim_selects}">
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default"
              title="Remove dimension"
              data-bind="click: pop_dim_select,
                         attr:{disabled: dim_selects().length <= 1}">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <button type="button" class="btn btn-default"
              title="Add dimension"
              data-bind="click: push_dim_select">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <hr>

    <h4>Options</h4>
    <div class="form-group">
      <label class="checkbox-inline">
        <input type="checkbox"
               data-bind="checked: skip_zero">
        Hide empty lines
      </label>
    </div>
    <div class="form-group">
      <a type="button" class="btn btn-default"
         href="#" title="Dowload Excel file"
         data-bind="click: get_xlsx">
        Excel Export <span class="glyphicon glyphicon-download"></span>
      </a>
    </div>
  </div>

  <div data-bind="css: show_menu() ? 'col-sm-9': 'col-sm-12'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#table" data-toggle="tab" data-bind="click: set_active_view">
              Table
            </a>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Graphs <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" data-bind="foreach: available_charts">
              <li>
                <a href="#graph" data-toggle="tab"
                   data-bind="click: function(obj, ev) {
                              $parent.set_active_view(obj, ev, key)},
                              text: label">
                </a>
              </li>
            </ul>
          </li>

          <li class="pull-right">
            <button type="button" class="btn btn-primary"
                    data-toggle="button" aria-pressed="false"
                    autocomplete="off"
                    data-bind="click: toggle_show_menu">
              <span class="glyphicon glyphicon-fullscreen"></span>
            </button>
          </li>
        </ul>
        <div class="btn-group pull-right" data-toggle="buttons">
        </div>
      </div> <!-- /.panel-heading -->

      <div class="panel-body">
        <div class="alert alert-danger" role="alert" data-bind="visible: error">
          <p data-bind="text: error"></p>
        </div>

        <div class="tab-content" style="overflow-x: auto">
          <div class="tab-pane active" id="table">
            <table class="table table-hover">
              <thead>
                <tr data-bind="foreach: columns_headers">
                  <th data-bind="text: name, attr: {'colspan': colspan}, css: type"></th>
                </tr>
                <tr data-bind="foreach: columns">
                  <th data-bind="text: label, css: type"></th>
                </tr>
              </thead>

              <tbody data-bind="foreach: {data: get_data, as: 'line'}">
                <tr data-bind="foreach: $parent.columns">
                  <td data-bind="text: line[$index()], css: type"></td>
                </tr>
              </tbody>

              <tfoot>
                <tr data-bind="foreach: totals" class="totals">
                  <td data-bind="text: $data"></td>
                </tr>
              </tfoot>
            </table>
          </div> <!-- /#table -->
          <div class="tab-pane" id="graph">
            <div id="vis"></div>
          </div><!-- /#graph -->
        </div> <!-- /.tab-content -->

      </div> <!-- /.panel-body -->
    </div> <!-- /.panel -->
  </div> <!-- /.col -->

</div> <!-- /.row -->
{% endblock %}

{% block postscripts %}
<script type="text/html" id="measure_tpl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title row">
        <div class="col-md-2">
          <span data-bind="if: !on_top()">
            <a class="glyphicon glyphicon-chevron-left"
               data-bind="click: drill_up"></a>
          </span>
        </div>
        <div class="col-md-7">
          <a data-toggle="collapse" data-parent="#measures"
             data-bind="attr: {href: '#collapse-measure-' + $index()},
                        text: selected_spc().label">
          </a>
        </div>
        <div class="col-md-3">
          <a class="glyphicon"
             data-bind="click: click_option, css: {active: card() == 'option'}">
            &#9776;
          </a>
        </div>
      </h4>
    </div>
    <div class="panel-collapse collapse"
         data-bind="attr: {id: 'collapse-measure-' + $index()},
                    css: {grey_bg: card() != 'main'}">

      <div data-bind="if:card() == 'main'">
        <div class="list-group menu-list" data-bind="foreach: choice()">
          <li class="list-group-item menu-item"
              data-bind="css: {active: active}">
            <a href="#"
               data-bind="text: label,
                          click: select">
            </a>
          </li>
        </div>
      </div>

      <div data-bind="if:card() == 'option'">
        <div class="panel-body">
          <h5>Move:</h5>
          <div class="btn-group">
            <button type="button" class="btn btn-default" title="Move up"
                    data-bind="click: move_up">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button type="button" class="btn btn-default" title="Move down"
                    data-bind="click: move_down">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <button type="button" class="btn btn-default" title="Remove"
                    data-bind="click: remove">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</script>

<script type="text/html" id="dimension_tpl">
  <div class="panel panel-default"  style="overflow: visible">
    <div class="panel-heading">
      <h4 class="panel-title row">
        <div class="col-md-2">
          <span data-bind="if: can_drill_up()">
            <a class="glyphicon glyphicon-chevron-left"
               data-bind="click: drill_up"></a>
          </span>
        </div>
        <div class="col-md-7 nopadding">
          <a data-toggle="collapse" data-parent="#dimensions"
             data-bind="attr: {href: '#collapse-dimension-' + $index()},
                        text: label">
          </a>
        </div>
        <div class="col-md-3 nopadding">
          <a class="glyphicon glyphicon-search"
             style="padding-right:0.2em;"
             data-bind="click: click_search, css: {active: card() == 'search'}">
          </a>
          <a class="glyphicon"
             data-bind="click: click_option, css: {active: card() == 'option'}">
            &#9776;
          </a>
      </h4>
    </div>
    <div class="panel-collapse collapse"
         data-bind="attr: {id: 'collapse-dimension-' + $index()},
                    css: {grey_bg: card() != 'main'}">
      <div data-bind="if:card() == 'option'">
        <div class="panel-body">
          <h5>Show:</h5>

          <div class="btn-group">
            <!-- ko foreach: head_levels -->
            <button type="button" class="btn btn-default"
                    data-bind="css: {active: active}, text: name, click: activate">
            </button>
            <!-- /ko -->
            <!-- ko if: tail_levels().length -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu"
                  data-bind="foreach: tail_levels">
                <li data-bind="css: {active: active}">
                  <a href="#" data-bind="text: name, click: activate">
                  </a>
                </li>
              </ul>
            </div>
            <!-- /ko -->
          </div>

          <h5>Orientation:</h5>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" data-bind="checked: pivot">
              As column
            </label>
          </div>

          <h5>Move:</h5>
          <div class="btn-group">
            <button type="button" class="btn btn-default" title="Move up"
                    data-bind="click: move_up">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button type="button" class="btn btn-default" title="Move down"
                    data-bind="click: move_down">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <button type="button" class="btn btn-default" title="Remove"
                    data-bind="click: remove">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

        </div>
      </div>

      <div data-bind="if:card() == 'main'">
        <ul class="list-group menu-list" data-bind="foreach: choice">
          <li class="list-group-item clearfix menu-item"
              data-bind="css: {active: active()}">
            <a href="#"
               data-bind="text: label,
                          click: activate">
            </a>
            <div data-bind="if: has_children()" class="pull-right">
              <a href="#" class="glyphicon glyphicon-chevron-right"
                 data-bind="click: drill">
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div data-bind="if:card() == 'search'">
        <div class="panel-body">

          <div class="input-group">
            <input type="text" class="form-control"
                   data-bind="value:current_search, valueUpdate:'afterkeydown'"
                   name="fitler" placeholder="Search"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"
                      data-bind="click: click_clear_search">
                <span class="glyphicon glyphicon-remove">
              </button>
            </span>
          </div>
        </div>

        <ul class="list-group menu-list" data-bind="foreach:search_results">
          <li class="list-group-item menu-item"
              data-bind="css: {active: active}">
            <a href="#" data-bind="text: name, click: select">
            </a>
            <span data-bind="text: level" class="text-muted small">
            </span>
          </li>
        </ul>



      </div>

    </div>
  </div>

</script>
{% endblock %}
